.categories-swiper {
  width: 80%;
  padding: 20px 0;
}

.cat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.cat-image {
width: 120px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.cat-image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
    border-radius: 100%;
}

.cat-title {
  font-size: 14px;
  font-weight: 600;
  color: #222;
  text-align: center;
}
