@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

html,
body,
#root {
  @apply min-h-screen  text-gray-800 font-sans;
  direction: rtl;
  text-align: right;
}
body{
  background-color:#FFFFFF ;
}